 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à Página Inicial</h1>
    <p>Esta é a página inicial da nossa aplicação.</p>
    <p>Para cadastrar uma nova tarefa, acesse <a href="/cadastro_tarefa">Cadastro de Tarefa</a>.</p>
    <p>Para cadastrar um novo usuário, acesse <a href="/cadastro_usuario">Cadastro de Usuário</a>.</p>
</body>
</html>
